.wrapper {
	margin: 4px;

}
.Face {
	margin: 100px 0px 0px 40px;
	height: 18px;
	width: 9px;
	border-top-left-radius: 55px;
	border-top-right-radius: 55px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid brown;
	border-top-color: #ff6a00;
}

.nose {
	height: 6px; 
	width: 6px;
	border: solid black 1px;
	border-radius: 3px;
	z-index: 1;
	position:relative;
	left: 1px;
	top: 0px;
	background-color: black;

}
.righteye {
	height: 6px; 
	width: 6px;
	border: solid black 1px;
	border-radius: 3px;
	z-index: 1;
	position: relative;
	left: 54px;
	top: 18px;
	background-color: black;
}
.innernose {
	height: 3px;
	width: 3px;
	border-radius: 10px;
	background-color: white;
}
.leftear {
	height: 50px;
	width: 1px;
	border-right: 40px solid transparent;
	border-bottom: 40px solid brown;
	position: absolute;
}
.rightear {
	height: 50px;
	width: 1px;
	border-left: 40px solid transparent;
	border-bottom: 40px solid brown;
	position: absolute;
	left:46px;
}
.lefteye {
	width: 50px;
	height: 25px;
	background: orange;
	border: 3px solid black;
	position: absolute;
	-moz-border-radius: 100px/50px;
	-webkit-border-radius: 100px/50px;
	border-radius:270px/150px;
	-webkit-transform: scale(0.5,0.5);
	



}
.righteye {

}
.other {
	position: absolute;
	margin-left: 51px;
	margin-top: 3px;
}